@media (max-width: 1490px) {
    body {
        padding: 0;
    }

    .layout {
        min-width: auto;
        width: 85%;
    }
}

@media (max-width: 1320px) {
    .layout {
        width: 89%;
        margin-left: 3rem;
    }

    .article__image {
        max-width: 111%;
    }
}

@media (max-width: 1160px) {
    .layout {
        width: 85%;
        margin-left: 1.5rem;
    }

    .certificate__certificate {
        flex-basis: 100%;
    }

    .page__name {
        font-size: 5rem;
    }

    .user-info__btn {
        font-size: 1.4rem;
    }
}

@media (max-width: 1124px) {
    .price__description {
        font-size: 1.2rem;
    }
}

@media (max-width: 1060px) {
    body {
        background-image: none;
        position: static;
    }

    .layout {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;

        grid-template-areas: 'content';
        grid-template-columns: 100%;
    }

    .layout__content {
        border-radius: 0;
        background-color: transparent;
    }

    .content__page {
        border-radius: 0;
    }
}