@media (max-width: 1490px) {
    body {
        padding: 0;
    }
    .layout {
        min-width: auto;
        width: 85%;
    }
}

@media (max-width: 1320px) {
    .layout {
        width: 89%;
        margin-left: 3rem;
    }

    .article__image {
        max-width: 111%;
    }
}

@media (max-width: 1160px) {
    .layout {
        width: 85%;
        margin-left: 1.5rem;
    }

    .certificate__certificate{
        flex-basis: 100%;
    }
}