.layout__menu--toggle {
    display: none;
}

@media (max-width: 1490px) {
    body {
        padding: 0;
    }

    .layout {
        min-width: auto;
        width: 85%;
    }

    .certificate__logo {
        width: 13rem;
    }
}

@media (max-width: 1320px) {
    .layout {
        width: 89%;
        margin-left: 3rem;
    }

    .article__image {
        max-width: 111%;
    }

    .article__mask {
        height: 20rem;
    }
}

@media (max-width: 1240px) {

    .certificate__logo {
        width: 12rem;
    }
}

@media (max-width: 1227px) {

    .certificate__logo {
        width: 11rem;
    }
}

@media (max-width: 1160px) {

    .layout {
        width: 85%;
        margin-left: 1.5rem;
    }

    .certificate__certificate {
        flex-basis: 100%;
    }

    .certificate__content {
        font-size: 1.2rem;
    }

    .page__name {
        font-size: 5.2rem;
    }

    .user-info__btn {
        font-size: 1.4rem;
    }

    .article__mask {
        height: 18rem;
    }

    .article__title {
        font-size: 1.4rem;
    }

}

@media (max-width: 1124px) {
    .price__description {
        font-size: 1.2rem;
    }
}

@media (max-width: 1060px) {
    body {
        background-image: none;
        position: static;
    }

    .layout {
        width: 100%;
        height: 100%;
        min-height: 100%;
        margin: 0;
        border-radius: 0;

        grid-template-areas: 'content';
        grid-template-columns: 100%;
    }

    .layout__menu--toggle {
        z-index: 9999;
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 4.8rem;
        height: 4.8rem;
        line-height: 4.8rem;
        font-size: 2.5rem;
        text-align: center;
        color: var(--main-color);
        background-color: var(--secondary-color);
        border-radius: 1.5rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }


    .menu-toggle__icon {
        color: var(--main-color);
        display: block;
        position: absolute;
        top: 25%;
        left: 29%;
        transition: all 600ms ease-in-out;
    }

    .fa-bars {
        opacity: 1;
    }

    .fa-xmark {
        opacity: 0;
    }

    .layout__aside {
        z-index: 999;
        display: block;
        position: absolute;
        max-width: 330px;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        overflow: auto;
        border-radius: 0;
        transition: all 300ms ease-in-out;

        margin-right: -100%;
        opacity: 0;
    }

    .layout__aside--visible {
        width: 100%;
        margin-right: 0;
        opacity: 1;
    }

    .layout__aside--hidden {
        margin-right: -100%;
        opacity: 0;
    }

    .user-info__cont-img {
        width: 13rem;
        margin-top: 3rem;
        display: inline-block;
    }

    .user-info__name {
        font-size: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .layout__menu {
        position: static;
        margin: 3rem 0;
    }

    .menu__list {
        position: static;
        width: 100%;
        background-color: var(--secondary-color);
        box-shadow: none;
        margin-left: 0;
        padding: 0;
        min-height: auto;
    }

    .menu__link {
        text-decoration: none;
        display: block;
        padding: 1.2rem 0;
    }

    .menu__icon {
        display: none;
    }

    .menu__overlay {
        position: static;
        opacity: 0.7;
        margin-top: 0;
        padding: 0;
        box-shadow: none;
        font-size: 1.6rem;
    }

    .menu__link--active .menu__overlay {
        opacity: 1;
    }

    .links__social {
        margin-top: 0;
    }

    .user-info__footer {
        position: static;
        padding-bottom: 2rem;
    }

    .content__page {
        border-radius: 0;
        height: 100vh;
    }

    .layout__content {
        border-radius: 0;
        background-color: transparent;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 800px) {

    .reviwes__container {
        flex-direction: column;
    }

    .reviwes__reviwe {
        margin-top: 5rem;
        flex-basis: 100%;
    }

    .cutomers__container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .price__container {
        flex-direction: column;
    }

    .price__box {
        flex-basis: 100%;
        margin: 0;
    }

    .price__box:last-child {
        margin-top: 2rem;
    }

    .gallery__item {
        flex-basis: 50%;
    }

    .article__articles {
        flex-basis: 100%;
    }

}

@media (max-width: 585px) {

    .about__personal-info {
        flex-direction: column;
    }

    .personal__info-data {
        flex-basis: 100%;
        padding: 0;
        margin-top: 2rem;
    }

    .services__container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .services__service {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .extra__container {
        flex-direction: column;
        gap: 2rem;
    }

    .resume__container {
        flex-direction: column;
    }

    .resume__right {
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 3rem;
    }

    .contact__container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {

    .page__name {
        font-size: 4.8rem;
        line-height: 5.6rem;
        text-align: center;
    }

    .certificate__logo {
        width: 100%;
    }

    .gallery__item {
        flex-basis: 100%;
    }

    .form__container {
        display: flex;
        flex-direction: column;
    }

    .form__left {
        flex-basis: 100%;
        margin-right: 0;
    }

    .form__rigth {
        flex-basis: 100%;
        max-width: 100%;
        max-height: 100%;
    }


}