@media (max-width: 1490px) {
    body {
        padding: 0;
    }

    .layout {
        min-width: auto;
        width: 85%;
    }
}

@media (max-width: 1320px) {
    .layout {
        width: 89%;
        margin-left: 3rem;
    }

    .article__image {
        max-width: 111%;
    }

    .article__mask {
        height: 20rem;
    }
}

@media (max-width: 1160px) {

    .layout {
        width: 85%;
        margin-left: 1.5rem;
    }

    .certificate__certificate {
        flex-basis: 100%;
    }

    .page__name {
        font-size: 5rem;
    }

    .user-info__btn {
        font-size: 1.4rem;
    }

    .article__mask {
        height: 18rem;
    }

    .article__title {
        font-size: 1.4rem;
    }

}

@media (max-width: 1124px) {
    .price__description {
        font-size: 1.2rem;
    }
}

@media (max-width: 1060px) {
    body {
        background-image: none;
        position: static;
    }

    .layout {
        width: 100%;
        height: 100%;
        min-height: 100%;
        margin: 0;
        border-radius: 0;

        grid-template-areas: 'content';
        grid-template-columns: 100%;
    }

    .layout__content {
        border-radius: 0;
        background-color: transparent;
        height: 100%;
    }

    .content__page {
        border-radius: 0;
        height: 100vh;
    }

    .layout__menu {
        position: static;
    }
}

@media (max-width: 800px) {

    .reviwes__container {
        flex-direction: column;
    }

    .reviwes__reviwe {
        margin-top: 5rem;
        flex-basis: 100%;
    }

    .cutomers__container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .price__container {
        flex-direction: column;
    }

    .price__box {
        flex-basis: 100%;
        margin: 0;
    }

    .price__box:last-child {
        margin-top: 2rem;
    }

    .gallery__item {
        flex-basis: 50%;
    }

    .article__articles {
        flex-basis: 100%;
    }

}

@media (max-width: 585px) {

    .about__personal-info {
        flex-direction: column;
    }

    .personal__info-data {
        flex-basis: 100%;
        padding: 0;
        margin-top: 2rem;
    }

    .services__container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .services__service {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .extra__container {
        flex-direction: column;
        gap: 2rem;
    }

    .resume__container {
        flex-direction: column;
    }

    .resume__right {
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 3rem;
    }

    .contact__container {
        flex-direction: column;
    }
}