:root {
    --color-scrollbar: #d3d3d3;
    --color-background--scrollbar: #eee;
}

/* Scroll Chrome */
.content__page::-webkit-scrollbar {
    width: 25px;
    background: transparent;
}

.content__page::-webkit-scrollbar-thumb {
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}

.content__page:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px var(--color-background--scrollbar);
}

.content__page:hover::-webkit-scrollbar-thumb:hover {
    border: 10px solid transparent;
    box-shadow: inset 0 0 0 10px var(--secondary-color);
}

.content__page::-webkit-scrollbar-track {
    margin: 15px 0;
}

/* Scroll Mozila */

.content__page {
    scrollbar-width: thin;
    scrollbar-color: var(--color-background--scrollbar) transparent;
}