/* Variables */

:root {
    --main-color: #ffffff;
    --secondary-color: #04B4E0;
    --background-color: #efecec;
    --transparent-color: transparent;
    --icon-color: #b5b6b7;
    --subtitle-color: #888;
    --title-color: #222222;
    --text-color: #555;
    --border-color: #E5E6E7;
    --company-color: #A5A6A7;
}

/* General styles */

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: auto;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

/* Background image */

body {
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -120px;
    background-color: var(--background-color);
}

/* Main container */

.layout {
    position: relative;
    min-width: 1290px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;

    display: grid;
    grid-template-areas:
        "aside content";
    grid-template-columns: 30% 70%;
    /* Shadow behind layout */
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}

/* Aside bar */

.layout__aside {
    grid-area: aside;

    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;

}

.aside__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 100%;
    min-width: 30rem;

    background-color: var(--secondary-color);
    color: var(--main-color);
}

.aside__user-info a {
    color: var(--main-color);
}

.user-info__cont-img {
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 7rem;

}

.user-info__image {
    width: 100%;
    background-color: var(--main-color);
    border: 0.3rem solid var(--main-color);
    border-radius: 40rem;
    z-index: 1;
    position: relative;
}

.user-info__cont-img::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.4;
    border-radius: 30rem;
}

.user-info__name {
    margin-top: 2.6rem;
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--main-color);
}

.user-info__job {
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--main-color);
}


.user-info__links {
    margin-bottom: 3.6rem;
}

.links__social {
    margin-top: 2rem;
    text-align: center;

    display: flex;
    flex-direction: row;
}

.social-option {
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.1rem;
    opacity: 0.8;
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
}

.social-option:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 5px;
}

.user-info__buttons {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.user-info__btn {
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
    transition: all 400ms ease-in-out;
}

.user-info__btn:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.user-info__footer {
    position: absolute;
    bottom: 2rem;
    font-size: 1.1rem;
}

/* Main container */

.layout__content {
    grid-area: content;
    height: 100%;
    min-height: 100%;
    background-color: var(--secondary-color);
    border-radius: 0 10rem 10rem 0;
}

.content__page {
    min-height: 100%;
    background-color: var(--main-color);
    border-radius: 2.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page__name {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: var(--title-color);
}

.page__job {
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--subtitle-color);
}

/* aside menu nav bar */

.layout__menu {
    display: block;
    position: absolute;
    top: 0;
    right: -110px;
    min-width: 11rem;
    background-color: var(--transparent-color);
}

.menu_list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 60%;
    min-height: 32rem;
    padding: 2rem;
    margin-left: 2.5rem;
    background-color: var(--main-color);
    box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 2rem;
}

.menu__option {
    display: block;
    width: 100%;
    text-align: center;
}

.menu__icon {
    color: var(--icon-color);
    font-size: 2.8rem;
    transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__icon {
    color: var(--secondary-color);
}

.menu__overlay {
    position: absolute;
    right: 0;
    margin-top: -3rem;
    opacity: 0;
    display: block;
    padding: 0.5rem 1rem;
    color: var(--main-color);
    background-color: var(--secondary-color);
    white-space: nowrap;
    transition: all 400ms ease-in-out;
}

.menu__option:hover .menu__overlay {
    opacity: 1;
    right: 75%;
}


/* About me */

.content__about {
    height: 100%;
    min-height: 100%;
    padding: 6rem;
    padding-right: 3rem;
    overflow: auto;
    display: block;
}

.about__header {
    display: inline-block;
    margin-bottom: 4.5rem;
}

.about__title {
    font-size: 3.2rem;
    position: relative;
}

.about__title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 25px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--secondary-color), var(--secondary-color) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    top: 20px;
    right: -15px;
}

.title__color {
    color: var(--secondary-color);
}

/* personal information */

.about__personal-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5rem;
}

.personal__info-bio {
    flex-basis: 56%;
}

.personal__info-description {
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: left;
}

.personal__info-data {
    flex-basis: 44%;
    padding: 0 1.5rem;
}

.personal__info-option {
    margin-bottom: 1rem;
}

.personal__info-title {
    margin-right: 0.5rem;
    color: var(--secondary-color);
    font-weight: bold;
}

/* Shared styles */

.about__services,
.about__reviews {
    width: 100%;
    margin-bottom: 3rem;
}

.services__header,
.reviews__header {
    display: inline-block;
    padding-right: 1.2rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.services__title,
.reviews__title {
    font-size: 2.1rem;
}

.services__title::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 20px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--secondary-color), var(--secondary-color) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    top: 16px;
    right: 5px;
}

/* Services */

.services__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services__service {
    flex-basis: calc(50% - 3rem);
    margin-right: 3rem;
    margin-bottom: 3.2rem;
}

.service__icon-solid {
    color: var(--secondary-color);
    font-size: 2.5rem;
}

.service__title {
    font-size: 1.8rem;
    margin: 0.5rem 0;
}

.service__description {
    font-size: 1.5rem;
    text-align: justify;
}


/* Reviews */

.reviwes__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reviwes__reviwe {
    flex-basis: calc(50% - 2.5rem);

    border: 2px solid var(--border-color);
    border-radius: 2rem;
    padding-top: 0;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
    margin-right: 2.5rem;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
}

.reviews__image-container {
    width: 100%;
}

.reviews__full-img {
    max-width: 9rem;
    max-height: 9rem;
    border-radius: 9rem;
    margin: 0 auto;
    margin-top: -4.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.22);
}

.review__description {
    margin-bottom: 1rem;
}

.review__text {
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.review__author {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review__name {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.review__company {
    color: var(--company-color);
    font-weight: 300;
    font-size: 1.3rem;
}

.review__icon {
    font-size: 4rem;
    opacity: 0.5;
    color: var(--secondary-color);
}

/* Customers */

.about__cutomers {
    width: 100%;
    margin-bottom: 5rem;
}

.costumers__header {
    margin-bottom: 3rem;
}

.cutomers__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.customer__link {
    display: block;
    width: 100%;
    opacity: 0.5;
    transition: all 300ms linear;
}

.customer__link:hover {
    opacity: 1;
}

.customer__img {
    width: 145px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}